################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

endpoint/default.apt

endpoint/logs/
wget-log
results/
settings.json
output.json
output.upload.json

*.apt
/logs/*